body {
  background-color: #c2d3a9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h4 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  padding-bottom: 10px;


}

h3 {
  font-family: sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}


.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(97, 146, 184) ;
  color: white;
  border: 0;
  font-size: 10px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 50%;
}

.history {
  background-color: rgba(255, 255, 255, 0.407);
  font-weight: 200;
  color: #333;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 0;
  width: 70%
}



.budget {
  border: rgba(0, 0, 0, 0.4) 1px solid;
  background-color: rgba(255, 255, 255, 0.407);
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 10px 10px;
  width: 60%;
  font-size: 10px;

}

span {
  border: rgba(0, 0, 0, 0.4) 1px solid;
  background-color: rgba(255, 255, 255, 0.407);
  color: #333;
  align-items: center;
  text-align: center;
  padding: 5px 5px;
  margin: 10px 10px;
  width: 70%;
  font-size: 10px;
}


.loginInput {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-size: 10px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 80%;
}

.loginBtn {
  display: flex;
  justify-content: left;
  cursor: pointer;
  background-color: #d7dfda;
  border: 0;
  font-size: 10px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 50%;
}

.signupInput {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 0;
  font-size: 10px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 80%;
}

.signupBtn {
  display: flex;
  justify-content: left;
  cursor: pointer;
  background-color: #d7dfda;
  border: 0;
  font-size: 10px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 50%;
}

ul{
  list-style-type: none;
}
